h1{margin:0}
.bloque{margin-top:60px;padding:0 18px}
.bloque-interno{margin-top:30px;padding:0 18px}
.btn-success{padding:.75em 1.975em;font-size:1.4em;color:#fff;width:90%;margin-left:auto;margin-right:auto;text-align:center;display:block;border:none;}
.btn-success:hover{text-decoration:none}
.btn-success a{color:#fff;}
.btn-success a:hover{text-decoration:none}
.barra-horizontal .verde{width:33.3%;background:#9c3;height:5px}
.barra-horizontal .azul{width:33.3%;background:#00afef;height:5px}
.barra-horizontal .rojo{width:33.3%;background:#f00;height:5px}
.container{padding:0}
a{color:#00afef;}
a:hover{color:#00afef;text-decoration:underline}
form{background:#f0f0f0;padding:18px;}
form h3{text-align:left;font-weight:700;padding:0;margin-bottom:12px}
form label{width:100%;padding:18px;color:#fff;background:#9c3;display:block;text-align:left;font-weight:normal;margin:0;}
form label.check-box{background:none;display:inline-block;width:auto;padding:0;color:#4d4d4d;}
form label.check-box input{width:auto;margin:5px 13px 5px 5px;display:block;float:left}
form input{width:100%;padding:15px;text-align:left;margin-bottom:24px}
form p{text-align:left;margin-top:12px;}
form p a:hover{text-decoration:underline}
form select{width:100%;padding:15px;text-align:left;margin-bottom:24px;background:#fff url("../images/bg-select.jpg") no-repeat top right;background-size:contain;appearance:none;-webkit-appearance:none;-moz-appearance:none;}
form select option{padding:5px}
form textarea{width:100%;padding:15px;margin-bottom:24px}
form .listas-correo{padding-left:30px;margin-top:10px;}
form .listas-correo .listas{display:block;margin-bottom:10px;color:#a4a4a4}
header .logo-contenedor{padding:1.125em;background:#9c3;}
header .logo-contenedor a img{width:100%}
header nav.menu{position:fixed;bottom:0;padding:0;color:#fff;font-size:1.5em;background:#9c3;width:100%;margin-bottom:0;z-index:10;}
header nav.menu .navbar-brand{color:#fff;font-size:1.2em;font-weight:500;margin-bottom:0;padding-top:20px;font-weight:500;}
header nav.menu .navbar-brand:hover{text-decoration:none;color:#fff}
header nav.menu .navbar-nav li a:hover,header nav.menu .navbar-nav li a:focus{color:#fff}
header nav.menu .navbar-nav li.active a:hover{color:#fff;background-color:#89b62f}
header nav.menu .navbar-toggle{border:none;}
header nav.menu .navbar-toggle:hover,header nav.menu .navbar-toggle:focus{background:none}
header nav.menu .navbar-toggle .icon-bar{background:#fff;width:44px;height:7px}
header nav.menu .navbar-collapse{border:0;}
header nav.menu .navbar-collapse ul li a{color:#fff}
header nav.menu .navbar-collapse ul li.active a{color:#fff;background-color:#89b62f}
footer{background:#d9d9d9;padding:30px 18px;margin-bottom:30px;}
footer .correo{margin-bottom:30px}
footer .redes-sociales{margin-bottom:30px;}
footer .redes-sociales ul{margin:0;padding:0;}
footer .redes-sociales ul li{list-style:none;display:inline-block;}
footer .redes-sociales ul li a{width:54px;height:54px;display:block;text-indent:-9999px;margin:18px 24px 0 24px;}
footer .redes-sociales ul li a.fb-icon{background:url("../images/sprite.png") no-repeat;background-position:-54px 0}
footer .redes-sociales ul li a.tw-icon{background:url("../images/sprite.png") no-repeat;background-position:-54px -54px}
footer .redes-sociales ul li a.gp-icon{background:url("../images/sprite.png") no-repeat;background-position:-54px -108px}
section article .destacado{padding:30px 18px;background:url("../images/bg-destacado.jpg") no-repeat;background-size:cover;}
section article .destacado h1{font-size:1.5em;line-height:1.6em;color:#fff}
section article .investigacion h2{text-transform:uppercase;color:#00afef;margin-bottom:30px}
section article .investigacion figure{margin-bottom:30px}
section article .investigacion #imgInvestigacion,section article .investigacion #textInvestigacion{-webkit-animation-delay:.3s;-moz-animation-delay:.3s;-ms-animation-delay:.3s;-o-animation-delay:.3s}
section article .planeacion h2{text-transform:uppercase;color:#00afef;margin-bottom:30px}
section article .planeacion figure{margin-bottom:30px}
section article .planeacion #imgPlaneacion,section article .planeacion #textPlaneacion{-webkit-animation-delay:.3s;-moz-animation-delay:.3s;-ms-animation-delay:.3s;-o-animation-delay:.3s}
section article .ejecucion h2{text-transform:uppercase;color:#00afef;margin-bottom:30px}
section article .ejecucion figure{margin-bottom:30px}
section article .ejecucion #imgEjecucion,section article .ejecucion #textEjecucion{-webkit-animation-delay:.3s;-moz-animation-delay:.3s;-ms-animation-delay:.3s;-o-animation-delay:.3s}
section article .acompanamiento #imgAcompanamiento,section article .acompanamiento #textAcompanamiento{-webkit-animation-delay:.3s;-moz-animation-delay:.3s;-ms-animation-delay:.3s;-o-animation-delay:.3s}
section article .acompanamiento h2{text-transform:uppercase;color:#00afef;margin-bottom:30px}
section article .acompanamiento figure{margin-bottom:30px}
section div.btn-preparamos{margin-bottom:60px}
section div a.btn-accion{color:#fff;width:90%;margin-left:auto;margin-right:auto;margin-bottom:60px;background:#f00 url("../images/check.png") no-repeat left center;background-size:contain;padding:.75em 1.975em .75em 25%;display:block;}
section div a.btn-accion:hover{text-decoration:none}
section div a span{color:#fff;}
section div a span.accion{font-size:1.2em;display:block;margin-bottom:.3em}
section div a span.texto-accion{font-size:.6em;display:block;color:#ffd3d3}
section.servicios article{position:relative;z-index:1;}
section.servicios article h1{color:#00afef}
section.servicios article .btn-contacto{margin-bottom:30px;}
section.servicios article .btn-contacto button.btn-success{width:70%}
section.servicios article .btn-contacto form{background:#f0f0f0;padding:18px}
section.servicios article h2{font-size:1.5em}
section.servicios article figure{width:98%;margin-right:auto;margin-left:auto;}
section.servicios article figure img{width:100%}
section.servicios article .compartir{margin-bottom:60px;}
section.servicios article .compartir ul{margin:0;padding:0;list-style:none;}
section.servicios article .compartir ul li{display:inline-block;}
section.servicios article .compartir ul li.facebook{margin-right:40px}
section.servicios article .compartir ul li.visible-xs{display:inline-block !important}
section.servicios article .compartir p{margin-bottom:30px}
.capa-opacidad{width:100%;height:100%;background:rgba(0,0,0,0.75);position:fixed;top:0;z-index:11;display:none}
.btn-cerrar a{background-color:#00afef;text-indent:1.31px;display:inline-block;color:#fff;font-family:Arial;font-size:45px;font-weight:bold;font-style:normal;height:90px;line-height:72px;width:81px;text-decoration:none;text-align:center;position:fixed;left:0;top:35%;z-index:14;}
.btn-cerrar a span{font-size:.4em;display:block;margin-top:-41px;font-weight:normal}
.menu-servicios{position:fixed;top:0;z-index:0;overflow-y:auto;white-space:nowrap;margin-left:-30%;width:30%;}
.menu-servicios ul{margin:0;padding:0;}
.menu-servicios ul li{padding:0;list-style:none;}
.menu-servicios ul li a{display:block;width:100%;padding:70px 5px 10px 5px;font-size:.8em;color:#767676;background:#fff url("http://lorempixel.com/45/45") no-repeat center;text-align:center;}
.menu-servicios ul li a:hover,.menu-servicios ul li a:focus,.menu-servicios ul li a.active{background:#f00 url("http://lorempixel.com/45/45") no-repeat center;color:#fff;text-decoration:none}
section .botones-contacto a{font-size:1em;display:block;float:left;color:#fff;background:#7fd7f7;width:50%;padding:1em;text-align:center;}
section .botones-contacto a.active{background:#00afef}
section .botones-contacto a.trabaja{padding:16px 0 16px 0}
section article .contenedor-escribenos,section article .contenedor-trabaja{clear:both;}
section article .contenedor-escribenos .texto p,section article .contenedor-trabaja .texto p{padding-top:20px;font-size:1.5em;text-align:center}
@media (min-width:768px){.bloque,.bloque-interno{padding:0}
.btn-success{width:35%;font-size:1em;padding:.5em 1em;margin-right:0}
form label{width:30%;float:left;padding:10px;}
form label.check-box{float:none}
form input{width:70%;padding:8px;margin-bottom:12px}
form select{width:70%;padding:8px}
form textarea{width:70%;height:100px}
form .archivo-trabaja input{margin-left:32%}
header{background:#9c3;overflow:auto;}
header .logo-contenedor{width:300px;height:60px;float:left;padding:.5em}
header nav.menu{position:relative;float:right;width:57%;border:none;}
header nav.menu .container-fluid{padding-right:0;}
header nav.menu .container-fluid .navbar-collapse ul li.active a{background:#fff;color:#4d4d4d;}
header nav.menu .container-fluid .navbar-collapse ul li.active a:hover{background:#fff}
header nav.menu .container-fluid .navbar-collapse ul li a{padding:19px 20px;font-size:.7em;}
header nav.menu .container-fluid .navbar-collapse ul li a:hover{background:#89b62f}
footer{margin-bottom:0;padding:6px 12px;}
footer.text-center{text-align:left;}
footer.text-center .correo{margin-bottom:0;}
footer.text-center .correo h4{font-size:.8em}
footer.text-center .redes-sociales{margin-bottom:0;text-align:right;}
footer.text-center .redes-sociales h4{font-size:.8em;display:inline-block}
footer.text-center .redes-sociales ul{margin-top:7px;display:inline-block;text-align:left;}
footer.text-center .redes-sociales ul li a{margin:0 5px;width:24px;height:24px;}
footer.text-center .redes-sociales ul li a.fb-icon{background:url("../images/sprite.png") no-repeat;background-position:0 -162px;}
footer.text-center .redes-sociales ul li a.fb-icon:hover{background-position:-24px -162px}
footer.text-center .redes-sociales ul li a.tw-icon{background:url("../images/sprite.png") no-repeat;background-position:0 -186px;}
footer.text-center .redes-sociales ul li a.tw-icon:hover{background-position:-24px -186px}
footer.text-center .redes-sociales ul li a.gp-icon{background:url("../images/sprite.png") no-repeat;background-position:0 -210px;}
footer.text-center .redes-sociales ul li a.gp-icon:hover{background-position:-24px -210px}
section article .destacado{background:none;}
section article .destacado h1{color:#4d4d4d;font-size:1.8em}
section article .investigacion,section article .planeacion,section article .ejecucion,section article .acompanamiento{margin-top:0;}
section article .investigacion h2,section article .planeacion h2,section article .ejecucion h2,section article .acompanamiento h2{font-size:1em}
section article .investigacion figure,section article .planeacion figure,section article .ejecucion figure,section article .acompanamiento figure{width:90%;margin:0 auto;}
section article .investigacion figure img,section article .planeacion figure img,section article .ejecucion figure img,section article .acompanamiento figure img{width:100%}
section article .investigacion p,section article .planeacion p,section article .ejecucion p,section article .acompanamiento p{margin-top:-99px;font-size:.9em;display:none}
section div a.btn-success{color:#fff;width:500px;margin-left:auto;margin-right:auto;margin-bottom:60px;background:#f00 url("../images/check.png") no-repeat left center;background-size:contain;padding:.75em 1.975em .75em 7em;display:block;}
section div a.btn-success span.texto-accion{font-size:.8em}
section.servicios article h1,section.servicios article h2,section.servicios article p{text-align:left}
section.servicios article .btn-contacto button.btn-success{width:35%}
section.servicios article figure{margin-right:0;margin-left:0}
section.servicios article .right-content{margin-top:80px}
section.servicios article .compartir{margin:0;position:absolute;top:-6px;width:100%;}
section.servicios article .compartir p{float:left;font-size:.8em;}
section.servicios article .compartir p strong{font-weight:normal}
section.servicios article .compartir ul li.visible-xs{display:none !important}
section article .formulario{background:#f0f0f0;margin-bottom:30px;}
section article .formulario h3{margin-top:0}
}@media (min-width:992px){form label{width:32%}
form input{width:68%}
form select{width:68%}
form textarea{width:68%}
form .form-dc{font-size:.9em}
header .logo-contenedor{width:370px;height:70px}
header nav.menu .container-fluid .navbar-collapse ul li a{padding:24px 20px}
footer{position:fixed;bottom:0;width:100%;margin:0;}
footer.row{margin:0}
section article .destacado{width:80%;margin:3% auto 0 auto}
section article .investigacion h2,section article .planeacion h2,section article .ejecucion h2,section article .acompanamiento h2{font-size:1.4em}
section article .investigacion p,section article .planeacion p,section article .ejecucion p,section article .acompanamiento p{font-size:1.2em;padding:12px;margin-top:-146px}
section.servicios article{margin-top:5%}
.btn-cerrar{display:none}
.menu-servicios{position:fixed;margin-left:0;top:initial;bottom:49px;width:100%;overflow-y:initial;white-space:initial;}
.menu-servicios ul li{float:left;width:10%;}
.menu-servicios ul li a{font-size:.7em;}
.menu-servicios ul li a:hover{background:#e7e7e7;color:#767676}
.menu-servicios ul li a.active{background:#f00;}
.menu-servicios ul li a.active:hover{background:#f00;color:#fff}
section article .contenedor-escribenos,section article .contenedor-trabaja{margin-bottom:60px;}
section article .contenedor-escribenos .texto,section article .contenedor-trabaja .texto{padding:18px;}
section article .contenedor-escribenos .texto p,section article .contenedor-trabaja .texto p{text-align:left}
}