/*Estilos globales*/
h1
	margin: 0
.bloque
	margin-top 60px
	padding 0 18px
.btn-success
	padding 0.75em 1.975em
	font-size: 1.4em 
	color #fff
	width 90%
	margin-left auto
	margin-right auto
	margin-bottom 60px
	text-align: center
	a
		color #fff
		&:hover
			text-decoration: none

header
	.logo-contenedor
		padding 1.125em
		background: #99CC33
		a 
			img
				width: 100%
	nav
		&.menu
			position: fixed
			bottom: 0
section
	article
		.destacado
			padding 30px 18px
			background: url(../images/bg-destacado.jpg)
			background-size contain
			h1
				font-size: 1.5em
				line-height: 1.6em
				color #fff
		.barra-horizontal
			.verde
				width 33.3%
				background #99CC33
				height: 5px
			.azul
				width 33.3%
				background #00AFEF
				height: 5px
			.rojo
				width 33.3%
				background #FF0000
				height: 5px
		.investigacion
			h2
				text-transform: uppercase
				color: #00AFEF
				margin-bottom 30px
			figure
				margin-bottom: 30px
			#imgInvestigacion
			#textInvestigacion
				-webkit-animation-delay: 0.3s;
				-moz-animation-delay: 0.3s;
				-ms-animation-delay: 0.3s;
				-o-animation-delay: 0.3s;
		.planeacion
			h2
				text-transform: uppercase
				color: #00AFEF
				margin-bottom 30px
			figure
				margin-bottom: 30px
			#imgPlaneacion
			#textPlaneacion
				-webkit-animation-delay: 0.3s;
				-moz-animation-delay: 0.3s;
				-ms-animation-delay: 0.3s;
				-o-animation-delay: 0.3s;
		.ejecucion
			h2
				text-transform: uppercase
				color: #00AFEF
				margin-bottom 30px
			figure
				margin-bottom: 30px
			#imgEjecucion
			#textEjecucion
				-webkit-animation-delay: 0.3s;
				-moz-animation-delay: 0.3s;
				-ms-animation-delay: 0.3s;
				-o-animation-delay: 0.3s;
		.acompanamiento
			#imgAcompanamiento
			#textAcompanamiento
				-webkit-animation-delay: 0.3s;
				-moz-animation-delay: 0.3s;
				-ms-animation-delay: 0.3s;
				-o-animation-delay: 0.3s;
			h2
				text-transform: uppercase
				color: #00AFEF
				margin-bottom 30px
			figure
				margin-bottom: 30px
	div
		a
			&.btn-accion
				color #fff
				width 90%
				margin-left auto
				margin-right auto
				margin-bottom 60px
				background: #ff0000 url(../images/check.png) no-repeat left center
				background-size contain
				padding 0.75em 1.975em 0.75em 25%
				display block
			span
				color #fff
				&.accion 
					font-size 1.4em
					display block
					margin-bottom .3em
				&.texto-accion
					font-size: 0.75em
					display block
					color #ff9a9a
			&:hover
				text-decoration none
				background: #cb0000 url(../images/check.png) no-repeat left center
				background-size contain

