h1{margin:0}
.bloque{margin-top:60px;padding:0 18px}
.btn-success{padding:.75em 1.975em;font-size:1.4em;color:#fff;width:90%;margin-left:auto;margin-right:auto;margin-bottom:60px;text-align:center;display:block;}
.btn-success a{color:#fff;}
.btn-success a:hover{text-decoration:none}
.barra-horizontal .verde{width:33.3%;background:#9c3;height:5px}
.barra-horizontal .azul{width:33.3%;background:#00afef;height:5px}
.barra-horizontal .rojo{width:33.3%;background:#f00;height:5px}
a{color:#00afef;}
a:hover{text-decoration:underline}
header .logo-contenedor{padding:1.125em;background:#9c3;}
header .logo-contenedor a img{width:100%}
header nav.menu{position:fixed;bottom:0;padding:0;color:#fff;font-size:1.5em;background:#9c3;width:100%;margin-bottom:0;}
header nav.menu .navbar-brand{color:#fff;font-size:1.2em;font-weight:500;margin-bottom:0;padding-top:20px;font-weight:500;}
header nav.menu .navbar-brand:hover{text-decoration:none;color:#fff}
header nav.menu .navbar-nav li a:hover,header nav.menu .navbar-nav li a:focus{color:#fff}
header nav.menu .navbar-nav li.active a:hover{color:#fff;background-color:#89b62f}
header nav.menu .navbar-toggle{border:none;}
header nav.menu .navbar-toggle:hover,header nav.menu .navbar-toggle:focus{background:none}
header nav.menu .navbar-toggle .icon-bar{background:#fff;width:44px;height:7px}
header nav.menu .navbar-collapse{border:0;}
header nav.menu .navbar-collapse ul li a{color:#fff}
header nav.menu .navbar-collapse ul li.active a{color:#fff;background-color:#89b62f}
footer{background:#d9d9d9;padding:30px 18px;margin-bottom:30px;}
footer .correo{margin-bottom:30px}
footer .redes-sociales{margin-bottom:30px;}
footer .redes-sociales ul{margin:0;padding:0;}
footer .redes-sociales ul li{list-style:none;display:inline-block;}
footer .redes-sociales ul li a{width:54px;height:54px;display:block;text-indent:-9999px;margin:18px 24px 0 24px;}
footer .redes-sociales ul li a.fb-icon{background:url("../images/sprite.png") no-repeat;background-position:-54px 0}
footer .redes-sociales ul li a.tw-icon{background:url("../images/sprite.png") no-repeat;background-position:-54px -54px}
footer .redes-sociales ul li a.gp-icon{background:url("../images/sprite.png") no-repeat;background-position:-54px -108px}
section article .destacado{padding:30px 18px;background:url("../images/bg-destacado.jpg") no-repeat;background-size:cover;}
section article .destacado h1{font-size:1.5em;line-height:1.6em;color:#fff}
section article .investigacion h2{text-transform:uppercase;color:#00afef;margin-bottom:30px}
section article .investigacion figure{margin-bottom:30px}
section article .investigacion #imgInvestigacion,section article .investigacion #textInvestigacion{-webkit-animation-delay:.3s;-moz-animation-delay:.3s;-ms-animation-delay:.3s;-o-animation-delay:.3s}
section article .planeacion h2{text-transform:uppercase;color:#00afef;margin-bottom:30px}
section article .planeacion figure{margin-bottom:30px}
section article .planeacion #imgPlaneacion,section article .planeacion #textPlaneacion{-webkit-animation-delay:.3s;-moz-animation-delay:.3s;-ms-animation-delay:.3s;-o-animation-delay:.3s}
section article .ejecucion h2{text-transform:uppercase;color:#00afef;margin-bottom:30px}
section article .ejecucion figure{margin-bottom:30px}
section article .ejecucion #imgEjecucion,section article .ejecucion #textEjecucion{-webkit-animation-delay:.3s;-moz-animation-delay:.3s;-ms-animation-delay:.3s;-o-animation-delay:.3s}
section article .acompanamiento #imgAcompanamiento,section article .acompanamiento #textAcompanamiento{-webkit-animation-delay:.3s;-moz-animation-delay:.3s;-ms-animation-delay:.3s;-o-animation-delay:.3s}
section article .acompanamiento h2{text-transform:uppercase;color:#00afef;margin-bottom:30px}
section article .acompanamiento figure{margin-bottom:30px}
section div a.btn-accion{color:#fff;width:90%;margin-left:auto;margin-right:auto;margin-bottom:60px;background:#f00 url("../images/check.png") no-repeat left center;background-size:contain;padding:.75em 1.975em .75em 25%;display:block}
section div a span{color:#fff;}
section div a span.accion{font-size:1.4em;display:block;margin-bottom:.3em}
section div a span.texto-accion{font-size:.75em;display:block;color:#ffd3d3}
section div a:hover{text-decoration:none}
