/*Estilos globales*/
h1
	margin: 0

header
	.logo-contenedor
		padding 1.125em
		background: #99CC33
		a 
			img
				width: 100%
	nav
		&.menu
			position: fixed
			bottom: 0
section
	article
		.destacado
			padding 30px 18px
			h1
				font-size: 1.5em
				line-height: 1.6em
