/*Estilos globales*/
h1
	margin: 0
.bloque
	margin-top 60px
	padding 0 18px
.bloque-interno
	margin-top 30px
	padding 0 18px
.btn-success
	padding 0.75em 1.975em
	font-size: 1.4em 
	color #fff
	width 90%
	margin-left auto
	margin-right auto
	// margin-bottom 60px
	text-align: center
	display block
	border none
	&:hover
		text-decoration none
	a
		color #fff
		&:hover
			text-decoration: none
.btn-info
	padding 18px
	display block
	&:hover
		text-decoration none
.mostrar
	display block !important
.barra-horizontal
	.verde 
		width 33.3%
		background #99CC33
		height: 5px
	.azul
		width 33.3%
		background #00AFEF
		height: 5px
	.rojo
		width 33.3%
		background #FF0000
		height: 5px
.container 
	padding 0
a
	color #00afef
	&:hover
		color #00afef
		text-decoration underline
.cargando
	h2
		color #00AFEF
/*Formularios*/
form 
	background: #f0f0f0
	padding 18px
	h3
		text-align: left
		font-weight 700
		padding 0
		margin-bottom 12px
	label
		width 100%
		padding 18px
		color #fff
		background: #99cc33
		display block
		text-align: left
		font-weight normal
		margin 0
		&.check-box
			background none
			display inline-block
			width auto
			padding 0
			color #4d4d4d
			input
				width auto
				margin: 5px 13px 5px 5px;
				display: block;
				float: left;
	input
		width 100%
		padding 15px
		text-align: left
		margin-bottom: 24px
		&.buscador 
			width 80%
			border none
			margin 0
	p 
		text-align left
		margin-top 12px
		a 
			&:hover
				text-decoration underline
	select
		width 100%
		padding 15px
		text-align: left
		margin-bottom: 24px
		background:  #fff url(../images/bg-select.jpg) no-repeat top right
		background-size contain
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		option
			padding 5px
	textarea
		width 100%
		padding 15px
		margin-bottom 24px
	.listas-correo
		padding-left 30px
		margin-top 10px
		.listas 
			display block
			margin-bottom 10px
			color #a4a4a4
	button
		&.btn-buscar
			width 17%
			height 52px
			margin 0 0 0 -5px
			vertical-align: top
			border none
			background: #00afef url(../images/search-icon.png) no-repeat center
			background-size contain
#frmTrabaja
#frm-estrategia-digital
#frm-desarrollo-web
#frm-consultoria-digital
#frm-email-marketing
#frm-contenidos
#frm-redes-sociales
#frm-seo
#frm-publicidad-online
#frm-analitica-web
#frm-apps-nube
	display none

	

/*Header y  footer*/
header
	.logo-contenedor
		padding 1.125em
		background: #99CC33
		a 
			img
				width: 100%
	nav
		&.menu
			position: fixed
			bottom: 0
			padding 0px
			color #fff
			font-size: 1.5em
			background: #99cc33
			width 100%
			margin-bottom 0px
			z-index 10
			.navbar-brand
				color #fff
				font-size: 1.2em
				font-weight: 500
				margin-bottom 0px
				padding-top: 20px
				font-weight 500
				&:hover
					text-decoration none
					color #fff
			// .naver-container
			// 	ul
			// 		text-align: center
			// 		margin-right 0px
			// 		padding 0px
			// 		li
			// 			list-style: none
			// 			a
			// 				color #fff
			// 				font-size: 1.3
			// 				font-weight normal
			// 				display block
			// 				padding 18px 0px
			.navbar-nav
				li
					a
						&:hover
						&:focus
							color #fff
					&.active
						a
							&:hover
								color #fff
								background-color: #89b62f;
			.navbar-toggle
				border none
				&:hover
				&:focus
					background: none
				.icon-bar
					background: #fff
					width: 44px;
					height: 7px;
			.navbar-collapse
				border 0px
				ul 
					li 
						a
							color #fff
						&.active
							a
								color: #fff;
								background-color: #89b62f;


footer
	background: #d9d9d9
	padding 30px 18px
	margin-bottom 30px
	.correo
		margin-bottom 30px
		h4
			line-height 1.5em
	.redes-sociales
		margin-bottom: 30px
		ul 
			margin 0
			padding 0
			li 
				list-style: none
				display inline-block
				a
					width 54px
					height 54px
					display block
					text-indent: -9999px
					margin 18px 12px 0px 12px
					&.fb-icon
						background:  url(../images/sprite.png) no-repeat 
						background-position -54px 0px
					&.tw-icon
						background:  url(../images/sprite.png) no-repeat 
						background-position: -54px -54px
					&.gp-icon
						background:  url(../images/sprite.png) no-repeat 
						background-position: -54px -108px


/*Estilos del home*/
#video_background 
	display none
#video_pattern
	display none

section
	article
		&.contenido
			overflow hidden
		.destacado
			padding 30px 18px
			background: url(../images/bg-destacado.jpg) no-repeat
			background-size cover
			h1
				font-size: 1.5em
				line-height: 1.6em
				color #fff
		.investigacion
			h2
				text-transform: uppercase
				color: #00AFEF
				margin-bottom 30px
			figure
				margin-bottom: 30px
		.planeacion
			h2
				text-transform: uppercase
				color: #00AFEF
				margin-bottom 30px
			figure
				margin-bottom: 30px
		.ejecucion
			h2
				text-transform: uppercase
				color: #00AFEF
				margin-bottom 30px
			figure
				margin-bottom: 30px
		.acompanamiento
			h2
				text-transform: uppercase
				color: #00AFEF
				margin-bottom 30px
			figure
				margin-bottom: 30px
	div
		&.btn-preparamos
			margin-bottom: 60px
			clear both
		a
			&.btn-accion
				color #fff
				width 90%
				margin-left auto
				margin-right auto
				margin-bottom 60px
				background: #ff0000 url(../images/check.png) no-repeat left center
				background-size contain
				padding 0.75em 1.975em 0.75em 25%
				display block
				&:hover
					text-decoration none
			span
				color #fff
				&.accion 
					font-size 1.2em
					display block
					margin-bottom .3em
				&.texto-accion
					font-size: 0.6em
					display block
					color #ffd3d3
			
				
/*Estilos de Servicios*/
section
	&.servicios
		article
			position relative
			z-index 1
			&.estrategia-digital
			&.desarrollo-web
			&.consultoria-digital
			&.email-marketing
			&.contenidos
			&.redes-sociales
			&.seo
			&.publicidad-online
			&.analitica-web
			&.apps-nube
				display none
			h1
				color: #00AFEF
			.btn-contacto
				margin-bottom 30px
				button
					&.btn-success
						width 70%
				form
					background: #f0f0f0
					padding 18px
			h2
				font-size: 1.5em
			figure
				width 98%
				margin-right auto
				margin-left auto
				img
					width 100%
			.compartir
				margin-bottom 60px
				ul
					margin 0px
					padding 0
					list-style none
					li
						display inline-block
						margin 0 15px
						vertical-align top
						&.visible-xs
							display inline-block !important
				p 
					margin-bottom 30px
.capa-opacidad
	width 100%
	height 100%
	background: rgba(0, 0, 0, .75)
	position fixed
	top 0
	z-index 11
	display none
.btn-cerrar
	a
		background-color:#00afef;
		text-indent:1.31px;
		display:inline-block;
		color:#ffffff;
		font-family:Arial;
		font-size:45px;
		font-weight:bold;
		font-style:normal;
		height:90px;
		line-height:72px;
		width:81px;
		text-decoration:none;
		text-align:center;
		position fixed
		left 0
		top 60%
		z-index 14
		span
			font-size: 0.4em;
			display: block;
			margin-top: -41px;
			font-weight: normal;
.menu-servicios
	position fixed
	top 0
	z-index 0
	overflow-y auto
	white-space nowrap
	margin-left -30%
	width 30%
	height 100%
	ul
		margin 0
		padding 0
		li
			padding 0
			list-style none
			a
				display block
				width 100%
				padding 70px 5px 10px 5px
				font-size 0.8em
				color #767676
				text-align: center
				&:hover
					text-decoration none
				&.ed
					background: #fff url(../images/estrategia-icon.png) no-repeat top center 

					&:hover
						background #e7e7e7 url(../images/estrategia-icon.png) no-repeat top center 
					&:focus
					&.active
						background #ff0000 url(../images/estrategia-icon-active.png) no-repeat top center 
						color #fff
						text-decoration none
						&:hover
							background #ff0000 url(../images/estrategia-icon-active.png) no-repeat top center 
				&.dw
					background: #fff url(../images/desarrollo-icon.png) no-repeat top center 
					&:hover
						background #e7e7e7 url(../images/desarrollo-icon.png) no-repeat top center 
					&:focus
					&.active
						background #ff0000 url(../images/desarrollo-icon-active.png) no-repeat top center 
						color #fff
						text-decoration none
						&:hover
							background #ff0000 url(../images/desarrollo-icon-active.png) no-repeat top center 
				&.cd
					background: #fff url(../images/consultoria-icon.png) no-repeat top center 
					&:hover
						background #e7e7e7 url(../images/consultoria-icon.png) no-repeat top center 
					&:focus
					&.active
						background #ff0000 url(../images/consultoria-icon-active.png) no-repeat top center 
						color #fff
						text-decoration none
						&:hover
							background #ff0000 url(../images/consultoria-icon-active.png) no-repeat top center 
				&.em
					background: #fff url(../images/email-marketing-icon.png) no-repeat top center 
					&:hover
						background #e7e7e7 url(../images/email-marketing-icon.png) no-repeat top center 
					&:focus
					&.active
						background #ff0000 url(../images/email-marketing-icon-active.png) no-repeat top center 
						color #fff
						text-decoration none
						&:hover
							background #ff0000 url(../images/email-marketing-icon-active.png) no-repeat top center 
				&.con
					background: #fff url(../images/contenidos-icon.png) no-repeat top center 
					&:hover
						background #e7e7e7 url(../images/contenidos-icon.png) no-repeat top center 
					&:focus
					&.active
						background #ff0000 url(../images/contenidos-icon-active.png) no-repeat top center 
						color #fff
						text-decoration none
						&:hover
							background #ff0000 url(../images/contenidos-icon-active.png) no-repeat top center 
				&.rs
					background: #fff url(../images/redes-icon.png) no-repeat top center 
					&:hover
						background #e7e7e7 url(../images/redes-icon.png) no-repeat top center 
					&:focus
					&.active
						background #ff0000 url(../images/redes-icon-active.png) no-repeat top center 
						color #fff
						text-decoration none
						&:hover
							background #ff0000 url(../images/redes-icon-active.png) no-repeat top center 
				&.se
					background: #fff url(../images/seo-icon.png) no-repeat top center 
					&:hover
						background #e7e7e7 url(../images/seo-icon.png) no-repeat top center 
					&:focus
					&.active
						background #ff0000 url(../images/seo-icon-active.png) no-repeat top center 
						color #fff
						text-decoration none
						&:hover
							background #ff0000 url(../images/seo-icon-active.png) no-repeat top center 
				&.po
					background: #fff url(../images/publicidad-icon.png) no-repeat top center 
					&:hover
						background #e7e7e7 url(../images/publicidad-icon.png) no-repeat top center 
					&:focus
					&.active
						background #ff0000 url(../images/publicidad-icon-active.png) no-repeat top center 
						color #fff
						text-decoration none
						&:hover
							background #ff0000 url(../images/publicidad-icon-active.png) no-repeat top center 
				&.aw
					background: #fff url(../images/metricas-icon.png) no-repeat top center 
					&:hover
						background #e7e7e7 url(../images/metricas-icon.png) no-repeat top center 
					&:focus
					&.active
						background #ff0000 url(../images/metricas-icon-active.png) no-repeat top center 
						color #fff
						text-decoration none
						&:hover
							background #ff0000 url(../images/metricas-icon-active.png) no-repeat top center 
				&.an
					background: #fff url(../images/apps-icon.png) no-repeat top center 
					&:hover
						background #e7e7e7 url(../images/apps-icon.png) no-repeat top center 
					&:focus
					&.active
						background #ff0000 url(../images/apps-icon-active.png) no-repeat top center 
						color #fff
						text-decoration none
						&:hover
							background #ff0000 url(../images/apps-icon-active.png) no-repeat top center 

/*Estilos del blog*/

section
	&.blog
		.buscador-aside-movil
			padding 0
		aside
			&.aside-blog
				background #f0f0f0
				padding 18px
				margin 0 0 30px 0
				h3
					font-weight 700
					color #767676
					margin 0 0 18px 0
				.buscador-aside
					display none
				.etiquetas-aside
					padding-bottom: 18px
					border-bottom: 2px solid #a4a4a4
					margin 0 0 30px 0
					a 
						&.etiqueta
							padding: 6px 12px;
							display: inline-block;
							background: #00afef;
							color: #fff;
							margin-right 6px
							margin-bottom 12px
						&:hover
							background #0092c7
							text-decoration none
				.suscribete-aside
					form
						padding 0
						.campo-correo
							margin 18px 0 0 0
							input
								&.ingrese-correo
									width: 80%;
									border: none;
									margin: 0;
							button
								width: 17%;
								height: 52px;
								margin: 0 0 0 -5px;
								vertical-align: top;
								border: none;
								background: #00afef url("../images/send-icon.png") no-repeat center;
								background-size: contain;
		article
			&.entradilla-post
				header
					h1
						line-height: 1.3em
				figure
					width 100%
				p 
					line-height 1.6em
				footer
					&.metadatos
						padding 0
						overflow auto 
						margin-bottom: 60px
						color #767676
						.autor, .comentarios
							display none
						.fecha
							.dia
								font-size 3em
								display block
								float left
							.mes
								display block
								margin 12px 0 0 65px
							.ano 
								display block
								margin 0 0 0 65px
						.leer-mas-articulos
							a 
								display: block;
								text-align: center;
								color: #fff;
								background: #ff0000
								padding: 23px;
								margin-right: -14px;
								&:hover
									background #d60000
									text-decoration none
			&.post-completo
				padding 130px 18px 0 18px
				position relative
				header
					h1
						color #00afef
						line-height: 1.3em
				p 
					line-height: 1.6em
					&:first-of-type
						font-size: 1.2em;
						font-style: italic;
						padding: 0 0 0 18px;
						border-left: #d9d9d9 8px solid;
						line-height: 1.85em;
				footer
					position absolute
					top 30px
					width 93%
					color #767676
					&.metadatos
						padding 0
						overflow auto 
						margin-bottom: 60px
						.leer-mas-articulos, .comentarios
							display none
						.fecha
							.dia
								font-size 3em
								display block
								float left
							.mes
								display block
								margin 12px 0 0 65px
							.ano 
								display block
								margin 0 0 0 65px
						.autor
							margin-top 23px
				.compartir
					margin 18px 0
					ul
						margin 0px
						padding 0
						list-style none
						li
							display inline-block
							&.facebook
								margin-right 40px
							&.visible-xs
								display inline-block !important
					p 
						margin-bottom 30px
				#fbcomments, .fb-comments, #feedback_0ICpVWcPKaHuGTfKi, .fb-comments span, .fb_iframe_widget, .fb_iframe_widget[style], .fb_iframe_widget iframe[style], #fbcomments iframe[style] 
					width: 100% !important;

		.ver-mas-blog
			padding 0 18px
			text-align: center
			margin 0 0 60px 0
			.btn-info
				width 100%
				font-size: 1.3em
				
/*Estilos Contacto*/
section
	.botones-contacto
		a
			font-size: 1em
			display block
			float left
			color #64C1E2
			background: #A9E4FA
			width 50%
			padding 16px 0px 16px 0px
			text-align: center
			&:hover
				background: #7fd7f7
				text-decoration none
				color #fff
			&.active
				background #00afef
				color #fff
			&.trabaja
				padding: 16px 0px 16px 0px;
	.formulario-contacto
	.formulario-trabaja
		clear both
	article
		.contenedor-escribenos
		.contenedor-trabaja
			clear both
			.texto 
				p 
					padding-top 20px
					font-size: 1.5em
					text-align: center
					&.contacto-directo
						font-size 1em
						color #a4a4a4
/*Breackpoint 768 - 992*/
@media (min-width:768px)
	/*Estilos globales*/
	.bg-990
		background url(../images/bg-tablet.jpg) no-repeat center top
		background-size cover
		-moz-background-size cover
		-webkit-background-size cover
		-o-background-size cover
		width 100%
		height 100%
		position absolute
		z-index -10
	.bloque
	.bloque-interno
		padding 0
	.btn-success
		width 35% 
		font-size: 1em
		padding 0.5em 1em 
		margin-right 0px
		// margin-bottom 30px
	/*Formularios*/
	form
		label
			width 30%
			float left
			padding 10px
			&.check-box
				float none
		input
			width 70%
			padding 8px
			margin-bottom 12px
		select
			width 70%
			padding 8px
		textarea
			width 70%
			height 100px
		.archivo-trabaja
			input
				margin-left 32%

	/*Header and footer*/
	header
		background: #9c3
		overflow auto
		.logo-contenedor
			width 300px
			height 60px
			float left
			padding 0.5em
		nav
			&.menu
				position relative
				float right
				width 57%
				border none
				.container-fluid
					padding-right: 0px
					.navbar-collapse
						ul
							li
								&.active
									a
										background #fff
										color #4d4d4d
										&:hover
											background: #fff
								a
									padding 19px 20px 
									font-size: 0.7em
									&:hover
										background  #89B62F
	footer
		margin-bottom: 0px
		padding 6px 12px
		overflow auto
		clear both
		&.text-center
			text-align: left
			.correo
				margin-bottom: 0px
				h4
					font-size: 0.8em
			.redes-sociales
				margin-bottom: 0px
				text-align: right
				h4
					font-size: 0.8em
					display inline-block
				ul
					margin-top 7px
					display inline-block
					text-align: left
					li
						a
							margin 0 5px
							width 24px
							height 24px
							&.fb-icon
								background:  url(../images/sprite.png) no-repeat 
								background-position 0px -162px
								&:hover
									background-position -24px -162px
							&.tw-icon
								background:  url(../images/sprite.png) no-repeat 
								background-position: 0px -186px
								&:hover
									background-position -24px -186px
							&.gp-icon
								background:  url(../images/sprite.png) no-repeat 
								background-position: 0px -210px
								&:hover
									background-position -24px -210px
	/*Home*/
	section
		article
			.procesos
				overflow hidden
			.destacado
				background: none
				h1
					color: #fff;
					text-shadow: 1px 1px 4px rgba(0,0,0,0.63);
			.investigacion
				#imgInvestigacion
				#textInvestigacion
					-webkit-animation-delay: 0.3s;
					-moz-animation-delay: 0.3s;
					-ms-animation-delay: 0.3s;
					-o-animation-delay: 0.3s;
			.planeacion
				#imgPlaneacion
				#textPlaneacion
					-webkit-animation-delay: 0.3s;
					-moz-animation-delay: 0.3s;
					-ms-animation-delay: 0.3s;
					-o-animation-delay: 0.3s;
			.ejecucion
				#imgEjecucion
				#textEjecucion
					-webkit-animation-delay: 0.3s;
					-moz-animation-delay: 0.3s;
					-ms-animation-delay: 0.3s;
					-o-animation-delay: 0.3s;
			.acompanamiento	
				#imgAcompanamiento
				#textAcompanamiento
					-webkit-animation-delay: 0.3s;
					-moz-animation-delay: 0.3s;
					-ms-animation-delay: 0.3s;
					-o-animation-delay: 0.3s;
			.investigacion
			.planeacion
			.ejecucion
			.acompanamiento
				margin-top 0px
				h2
					font-size: 1em;
					color: #fff;
					text-shadow: 1px 1px 4px rgba(0,0,0,0.63);
				figure
					width 90%
					margin 0 auto
					img
						width 100%
				p 
					margin-top: -115px
					font-size: 0.9em 
					display none
					padding: 12px;
					color: #fff;
					text-shadow: 1px 1px 4px rgba(0,0,0,0.63);
		div
			a
				&.btn-success
					color #fff
					width 500px
					margin-left auto
					margin-right auto
					margin-bottom 60px
					background: #ff0000 url(../images/check.png) no-repeat left center
					background-size contain
					padding 0.75em 1.975em 0.75em 7em
					display block
					span
						&.texto-accion
							font-size: 0.8em
	/*Servicios*/
	section
		&.servicios
			article
				h1
				h2
				p
					text-align: left
				.btn-contacto
					button
						&.btn-success
							width 35%
				figure
					margin-right 0
					margin-left 0
				.right-content
					margin-top 80px
				.compartir
					margin 0px
					position absolute
					top -6px
					width 100%
					text-align: right
					ul
						li
							margin 0 5px
							&.twitter
								iframe
									width 90px !important
							&.texto-compartir
								color #a4a4a4
								font-size: 0.9em
							&.facebook
								margin-top: -2px
					p 
						float left
						font-size: 0.8em
						color #a4a4a4
						strong
							font-weight normal
					ul
						li
							&.visible-xs
								display none !important
	/*Blog*/
	section
		&.blog
			padding 0 18px
			position relative
			.buscador-aside-movil
				display none
			aside
				&.aside-post
					padding-top: 105px
					font-size: 12px
				&.aside-blog
					margin 30px 0 0 0
					font-size: 12px
					.buscador-aside
						display block
						margin 0 0 18px 0
						border-bottom: 2px solid #a4a4a4
						padding 0 0 18px 0
						form
							padding 0
							input
								&.buscador
									width 80%
							button
								&.btn-buscar
									width 20%
									height 34px
					h3
						font-size: 1.5em
					.suscribete-aside
						form
							.campo-correo
								button
									width 20%
									height 33px
			article
				&.entradilla-post
					header
						background: #fff
					footer
						&.metadatos
							.comentarios
								display block
								span
									display block
									color #fff
									padding 20px 7px 23px 0
									background: url(../images/comentario-icon.png) no-repeat left center
									background-size contain
									width 60px
									text-align: center
				&.post-completo
					padding-top 30px
					header
						background: #fff
					.compartir
						ul
							li
								&.visible-xs
									display none !important
								
					footer
						&.metadatos
							width 30%
							left -32%
							z-index 3
							font-size 12px
							background: none
							border-bottom: 2px solid #a4a4a4;
							padding-bottom: 18px
							top 35px
							.autor
								margin-top: 12px
							.fecha
								.mes
									margin 10px 0 0 45px
								.ano 
									margin 0 0 0 45px
			.ver-mas-blog
				padding 0
	/*Contacto*/
	section
		article
			.formulario
				background: #f0f0f0 
				margin-bottom: 30px
				h3
					margin-top: 0px
/*Breackpoint 992*/
@media (min-width:992px)
	/*Estilos globales*/
	html, body
		height 100%
		width 100%
	/*Formularios*/
	form
		margin-bottom: 120px
		label
			width 32%
		input
			width 68%
		select
			width 68%
		textarea
			width 68%
		.form-dc
			font-size: 0.9em
	/*Header y footer*/
	header
		position relative
		z-index 2
		.logo-contenedor
			width 370px
			height 70px
		nav.menu 
			.container-fluid 
				.navbar-collapse 
					ul 
						li 
							a 
								padding: 24px 20px;
	footer
		position fixed
		bottom: 0
		width 100%
		margin 0
		z-index 4
		&.row
			margin 0
	/*Home*/
	#video_background 
		position: fixed;
		bottom: 0px;
		right: 0px;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -1000;
		overflow: hidden;
		display block
	#video_pattern
		background-image: url(../images/pattern.png); 
		position: fixed; 
		left: 0px; 
		top: 0px; 
		width: 100%; 
		height: 100%; 
		z-index: 1;
		display block
	section
		position relative
		z-index 3
		height 83%
		article
			&.contenido
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				height: 530px;
				margin: auto;
			.destacado
				width 85%
				margin 1% auto 0 auto
				padding: 2% 18px
				h1
					color #fff
					text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.63);
			.investigacion
			.planeacion
			.ejecucion
			.acompanamiento
				h2
					font-size: 1.4em
					color #fff
					text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.63);
				p 
					font-size: 1.2em
					padding 12px
					margin-top: -146px
					color #fff
					text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.63);
		.btn-preparamos
			margin-top 3%
			margin-bottom: 0px
	/*Servicios*/
	section
		&.servicios
			position relative
			height 65%
			article
				margin-top: 2%
				&.centrar-vertical
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					margin: auto;
					left: 0;
					height: 55%;
				.right-content
					margin 25px 0 0 0
			h1
				&.bloque 
					margin 0
	.btn-cerrar
		display none
	.menu-servicios
		position fixed
		margin-left 0
		top initial
		bottom 49px
		width 100%
		overflow-y initial
		white-space initial
		height auto
		z-index 5
		ul
			li
				float left
				width 10%
				a
					font-size: 0.7em
					&:hover
						background: #e7e7e7
						color #767676
					&.active
						background: #ff0000
						&:hover
							background: #ff0000
							color #fff
	/*Blog*/
	section
		&.blog
			width 93%
			margin 0 auto
			aside
				&.aside-blog
					font-size: 14px
					form
						margin 0
			article
				&.post-completo
					margin-bottom: 90px
					footer
						&.metadatos
							bottom initial
				&.entradilla-post
					footer
						&.metadatos
							position initial
							font-size: 14px
							.autor
								display block
								margin-top: 20px
							.fecha
								.ano, .mes
									margin-left 55px
							.leer-mas-articulos
								a 
									padding 21px
			.ver-mas-blog
				margin 0 0 90px 0
					
	/*Contacto*/
	section
		article
			.contenedor-escribenos
			.contenedor-trabaja
				margin-bottom 60px
				.texto
					padding 18px
					p 
						text-align left
/*Breackpoint 1200*/
@media (min-width:1200px)
	section
		&.blog
			width 1170px

							
				


				
	



				

